<h1><%= t(:welcome_message) %></h1>

<form action="#" class="map-finder">
  <input type="hidden" value="100" name="within">
  <input type="hidden" value="12" name="limit">
  <div class="clearfix">
    <div class="form-quarter form-zipcode">
      <label>
        <%= t(:zipcode) %>
        <input type="text" name="zipcode" autofocus>
      </label>
    </div>

    <div class="form-half form-agency">
      <label class="select-group">
        <%= t(:provider_type) %>
        <select name="provider_type">
          <option value=""><%= t(:all) %></option>
          <%= Provider.provider_types.each do |provider_type| %>
            <option value="<%= provider_type %>">
              <%= t(provider_type.parameterize.underscore.to_sym) %>
            </option>
          <% end %>
        </select>
      </label>
    </div>

    <div class="form-quarter">
      <button type="submit"><%= t(:search) %></button>
    </div>
  </div>
</form>

<div id="map"></div>
<div class="providers-container"></div>

<script type="text/template" class="template-marker-info">
  <h4>{{= name }}</h4>
  <p>
    <strong><%= t(:phone) %></strong> {{= phone_number }}
  </p>
</script>

<script type="text/template" class="template-provider-row">
  <section class="provider-row">
    <h3>{{= name }}</h3>

    <p><%= t("result.provider_type")  %>: {{= provider_type }}</p>
    <p><%= t("result.phone") %>: {{= phone_number }}</p>
    <p><%= t("result.hours")  %>: {{= hours_of_operation }}</p>
    <p><%= t("result.city") %>: {{= city }}</p>
    <p><%= t("result.zipcode") %>: {{= zipcode }}</p>
    <p><%= t("result.gender") %>: {{= gender }}</p>
    <p><%= t("result.age")  %>: {{= age_range }}</p>
    <p><%= t("result.capacity") %>: {{= capacity }}</p>
    <p><%= t("result.licensed") %>: {{= licensed }}</p>
    <p>
      <%= t("result.rating") %>:
      {{= quality_rating ? null : "Not Rated" }}
      {{ window._.times(quality_rating, function () { }}
        <img src="<%= asset_path("star.svg") %>" class="star-rating">
      {{ }); }}
    </p>
  </section>
</script>

<script type="text/template" class="template-alert">
  <div class="usa-alert usa-alert-{{= alert_type}}">
    <div class="usa-alert-body">
      <h3 class="usa-alert-heading">{{= message }}</h3>
    </div>
  </div>
</script>
